<div>
  <nav>
    
    <div class="brand">
      My Brand  
    </div>


    <div class="hamburger" (click)="menu()">
      <div class="line" [ngClass]="{'toggle1' : showMenu}"></div>
      <div class="line" [ngClass]="{'toggle2' : showMenu}"></div>
      <div class="line" [ngClass]="{'toggle3' : showMenu}"></div>
    </div>
    <ul class="nav-links" [ngClass]="{open : showMenu}">
      <li [ngClass]="{'fade' : showMenu, 'no' : !showMenu}"><a href="#">About</a></li>
      <li [ngClass]="{'fade' : showMenu, 'no' : !showMenu}"><a href="#">Contact</a></li>
      <li [ngClass]="{'fade' : showMenu, 'no' : !showMenu}"><a href="#">Projects</a></li>
      <li [ngClass]="{'fade' : showMenu, 'no' : !showMenu}"><a routerLink= "/" class='button'>Sign Out</a></li>
    </ul>
  </nav>
</div>


<button (click)="open('my')">Popup</button>

<pm-modal id="my">
  <div>Hi </div>
  <button (click)="close('my')">Close</button>
</pm-modal>